.fibonacci-page {
  background-color: rgb(240 240 240);
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.fibonacci-page header {
  align-items: center;
  background-color: rgb(253 253 253);
  box-sizing: border-box;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 100vw;
}

.fibonacci-page header h1 {
  color: #650d0d;
}

.fibonacci-page main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100vw;
}

.fibonacci-page main blockquote {
  background-color: rgb(253 253 253);
  border: 1px solid rgb(200 200 200);
  box-sizing: border-box;
  color: rgb(60 60 60);
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin: 40px auto;
  padding: 40px;
  line-height: 23px;
  text-align: center;
  width: 300px;
}

.fibonacci-page main h2 {
  font-size: 20px;
  font-weight: 300;
}

.fibonacci-page main input {
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  width: 80px;
}

.fibonacci-page form {
  padding: 20px 0;
}

.fibonacci-page form button {
  background-color: #650d0d;
  border: 1px solid #650d0d;
  box-sizing: border-box;
  color: rgb(253 253 253);
  font-weight: 100;
  height: 30px;
  transition: 200ms;
  width: 100px;
}

.fibonacci-page form button:hover {
  background-color: inherit;
  color: #650d0d;
}
